@import "tailwindcss";
@import "flowbite/src/themes/default";
*{
    font-family: "Bebas Neue", sans-serif;
}
.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: x-large;
    font-style: inherit;
    
  }
  